<form class="form-horizontal " autocomplete="off" #createTransportCompanyVoucherModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'CreateNewTransportCompanyVoucher' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body modal-xl">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="voucherNumber">
                {{ "VoucherNumber"|localize }}
            </label>
            <div class="col-md-9">
                <input type="number" [disabled]="true" required class="form-control" voucherNumber="voucherNumber" id="voucherNumber" name="voucherNumber"
                    [(ngModel)]="transportCompanyVoucher.voucherNumber" #voucherNumberModel="ngModel" #voucherNumberEl />
                <abp-validation-summary [control]="voucherNumberModel" [controlEl]="voucherNumberEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="type">
                {{ "Type"|localize }}
            </label>
            <div class="col-md-9">  
                <select class="form-control" aria-label="type" #typeModel="ngModel" required name="type"
                    id="type" [(ngModel)]="transportCompanyVoucher.voucherType" #typeEl>
                    <option *ngFor="let item of types" [ngValue]="item.id">{{item.name}}</option>
                    <abp-validation-summary [control]="typeModel" [controlEl]="typeEl"></abp-validation-summary>
                </select>
                <abp-validation-summary [control]="typeModel" [controlEl]="typeEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="currency">
                {{ "Currency"|localize }}
            </label>
            <div class="col-md-9">
                <select class="form-control" required aria-label="currency" #currencyModel="ngModel"  name="currency"
                    id="currency" [(ngModel)]="transportCompanyVoucher.currency" #currencyEl>
                    <option *ngFor="let item of currencies" [ngValue]="item.id">{{item.name}}</option>
                    <abp-validation-summary [control]="currencyModel" [controlEl]="currencyEl"></abp-validation-summary>
                </select>
                <abp-validation-summary [control]="currencyModel" [controlEl]="currencyEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="amount">
                {{ "Amount"|localize }}
            </label>
            <div class="col-md-9">
                <input type="number" class="form-control" required amount="amount" id="amount" name="amount" [(ngModel)]="transportCompanyVoucher.amount"
                    #amountModel="ngModel" #amountEl />
                <abp-validation-summary [control]="amountModel" [controlEl]="amountEl"></abp-validation-summary>
            </div>
        </div>
        
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="voucherDate">
                {{ "VoucherDate"|localize }}
            </label>
            <div class="col-md-9">
                <input type="date" required class="form-control" name="voucherDate" id="voucherDate" [(ngModel)]="transportCompanyVoucher.voucherDate"
                    #voucherDateModel="ngModel" #voucherDateEl />
                <abp-validation-summary [control]="voucherDateModel" [controlEl]="voucherDateEl"></abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="transportCompany">
                {{ "TransportCompany"|localize }}
            </label>
            <div class="col-md-9">
                <select class="form-control" aria-label="transportCompany" #transportCompanyModel="ngModel"  name="transportCompany" id="transportCompany"
                    [(ngModel)]="transportCompanyVoucher.transportCompanyId" required #transportCompanyEl>
                    <option *ngFor="let item of transportCompanies" [ngValue]="item.id">{{item.name}}</option>
                    <abp-validation-summary [control]="transportCompanyModel" [controlEl]="transportCompanyEl"></abp-validation-summary>
                </select>
                <abp-validation-summary [control]="transportCompanyModel" [controlEl]="transportCompanyEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createTransportCompanyVoucherModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>