<form class="form-horizontal " autocomplete="off" #createMaterialModal="ngForm">
  <div class="row">
    <div class="col-12 separator">
      <h1>{{'AddNewMaterial' | localize}}</h1>
      <a class="btn btn-link btn-empty btn-lg" href="/app/settings/material">{{'BackToMaterialList' | localize}} <i
          class="simple-icon-arrow-right"></i></a>
      <div class="top-right-button-container text-zero">
        <button type="button" [disabled]="!createMaterialModal.form.valid || saving"
          class="top-right-button btn btn-primary  mb-3 mr-2" (click)="save()">{{ 'SaveMaterial' |
          localize}}
        </button>
      </div>
    </div>
  </div>
  
  <!--Material-->
  <div class="card mt-2">
    <div class="d-flex justify-content-between">
    </div>
    <div class="card-body">
      <h5 class="card-title separator pb-2 mb-3">{{ 'MaterialInfo' | localize }}</h5>
      <div class="row">
        <div class="col-md-4">
          <label class="has-float-label">
            <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="material.name"
              #nameModel="ngModel" #nameEl />
            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            <span>{{ "Name"|localize }}</span>
          </label>
        </div>
        <div class="col-md-4">
          <label class=" has-float-label">
            <ng-select [items]="categories" name="category" bindLabel="name" required bindValue="id" [(ngModel)]="material.categoryId">
            </ng-select>
            <span>{{ 'Category' | localize }}</span>
          </label>
          <span *ngIf="categoryIsRequired" class="error invalid-feedback d-block"> ThisFieldIsRequired </span>
        </div>
        <div class="col-md-4">
          <label class=" has-float-label">
            <ng-select [items]="units" name="unit" bindLabel="name" required bindValue="id" [(ngModel)]="material.unitId">
            </ng-select>
            <span>{{ 'Unit' | localize }}</span>
          </label>
          <span *ngIf="unitIsRequired" class="error invalid-feedback d-block"> ThisFieldIsRequired </span>
        </div>
        <div class="col-md-4">
          <label class=" has-float-label">
            <textarea type="text" class="form-control"  name="specification" id="specification"
              [(ngModel)]="material.specification" #specificationModel="ngModel" rows="3" #specificationEl>
               </textarea>
            <!-- <abp-validation-summary [control]="specificationModel" [controlEl]="specificationEl"></abp-validation-summary> -->
            <span>{{ "Specification"|localize }}</span>
          </label>
        </div>
        <!-- <div class="col-md-3">
          <label class=" has-float-label">
            <input class="form-control" bsDatepicker [container]="'html'"
              [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY' }" name="expiryDate" id="expiryDate"
              [(ngModel)]="expiryDate" #expiryDateModel="ngModel" #expiryDateEl />
            <abp-validation-summary [control]="expiryDateModel" [controlEl]="expiryDateEl"></abp-validation-summary>
            <span>{{ "ExpiryDate"|localize }}</span>
          </label>
        </div> -->
      </div>
    </div>
  </div>
  
  <!--Stock-->
  <div class="card mt-2">
    <div class="d-flex justify-content-between">
    </div>
    <div class="card-body">
      <h5 class="card-title separator pb-2 mb-3">{{ 'Stock' | localize }}</h5>    
        <div class="row">
          <div class="col-md-4">
            <label class=" has-float-label">
              <ng-select [items]="stores" bindLabel="name" name="stock" bindValue="id" [(ngModel)]="stock.storeId">
              </ng-select>
              <span>{{ 'Store' | localize }}</span>
            </label>
          </div>
          <div class="col-md-4">
            <label class=" has-float-label">
              <ng-select [items]="sizes" name="size" [(ngModel)]="stock.sizeId" bindLabel="name" bindValue="id">
              </ng-select>
              <span>{{ 'Size' | localize }}</span>
            </label>
          </div>
          <div class="col-md-4  mt-3">
            <label class=" has-float-label">
              <input type="number" class="form-control" count="count" id="count" name="count" [(ngModel)]="stock.conversionValue"
                #countModel="ngModel" #countEl />
              <abp-validation-summary [control]="countModel" [controlEl]="countEl"></abp-validation-summary>
              <span>{{ "ConversionValue"|localize }}</span>
            </label>
          </div>
          <div class="col-md-4 mt-3">
            <label class=" has-float-label">
              <input type="number" name="numberInLargeUnit" class="form-control" numberInLargeUnit="numberInLargeUnit"
                id="numberInLargeUnit" [(ngModel)]="stock.quantity" #numberInLargeUnitModel="ngModel"
                #numberInLargeUnitEl />
              <abp-validation-summary [control]="numberInLargeUnitModel"
                [controlEl]="numberInLargeUnitEl"></abp-validation-summary>
              <span>{{ "Quantity" | localize }}</span>
            </label>
          </div>
          <!-- <div class="col-md-3 mt-3">
            <label class=" has-float-label">
              <input type="number" class="form-control" name="numberInSmallUnit" numberInSmallUnit="numberInSmallUnit"
                id="numberInSmallUnit" [(ngModel)]="stock.numberInSmallUnit" #numberInSmallUnitModel="ngModel"
                #numberInSmallUnitEl />
              <abp-validation-summary [control]="numberInSmallUnitModel"
                [controlEl]="numberInSmallUnitEl"></abp-validation-summary>
              <span>{{ "NumberInSmallUnit"|localize }}</span>
            </label>
          </div> -->
          <div class="col-3 mt-3">
            <button type="button" class="btn btn-outline-primary" (click)="AddStock()">
              <i [class]="'bi bi-plus'"> </i> {{ 'Add' | localize }}
            </button>
          </div>
          <div class=" col-12 separator mt-3"></div>
          <div class="table-responsive table-bordered mt-3">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 15%;" class="bi">{{'Store' | localize}}</th>
                  <th style="width: 15%;" class="bi">{{'Unit' | localize}}</th>
                  <th style="width: 13%;" class="bi">{{'Quantity' | localize}}</th>
                  <th style="width: 12%;" class="bi">{{'ConversionValue' | localize}}</th>
                  <!-- <th style="width: 13%;" class="bi">{{'NumberInSmallUnit' | localize}}</th> -->
                  <th style="width: 16%;" class="bi">{{'TotalNumberInSmallUnit' | localize}}</th>
                  <th style="width: 3%;" class="bi"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of stocks; index as i">
                  <td>{{getStoreName(item.storeId)}}</td>
                  <td>{{getUnitName(i)}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.count}}</td>
                  <!-- <td>{{item.numberInSmallUnit}}</td> -->
                  <td>{{(item.quantity * item.count) + ' ' + getSizeName(item.sizeId)}}</td>
                  <td><i (click)="deleteStock(i)" class="btn bi bi-trash"
                      style="font-size: large; color: #dc3545; padding: 0;"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
  </form>