<div class="row">
    <div class="col-12 separator">
        <h1>{{'ClearancesCashFlow' | localize}}</h1>
    </div>
</div>
<div class="card p-2 mt-2 mb-3">
    <div class="table-responsive">
        <table class="table  table-bordered">
            <thead>
                <tr class="table-secondary">
                    <th rowspan="2">{{'Name' | localize}}</th>
                    <th colspan="2">{{'BalanceInDollar' | localize}}</th>
                    <th colspan="2">{{'BalanceInDinar' | localize}}</th>
                    <th rowspan="2" style="width: 3rem;"></th>
                </tr>
                <tr class="table-secondary">
                    <th>{{'ForHim' | localize}}</th>
                    <th>{{'OnHim' | localize}}</th>
                    <th>{{'ForHim' | localize}}</th>
                    <th>{{'OnHim' | localize}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of balances">
                    <td>{{item.name}}</td>
                    <td>{{item.dollarBalance >= 0 ? numberWithCommasAndAbs(item.dollarBalance): 0}}</td>
                    <td>{{item.dollarBalance < 0 ? numberWithCommasAndAbs(item.dollarBalance): 0}}</td>
                    <td>{{item.dollarBalance >= 0 ? numberWithCommasAndAbs(item.dinarBalance): 0}}</td>
                    <td>{{item.dollarBalance < 0 ? numberWithCommasAndAbs(item.dinarBalance): 0}}</td>
                    <td><a class="btn btn-outline-primary btn-xs bi bi-eye bi-lg" (click)="showDetails(item.id)"></a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="table-secondary">
                    <td>{{'Total' | localize}}</td>
                    <td>{{numberWithCommasAndAbs(forHimDollarBalance)}}</td>
                    <td>{{numberWithCommasAndAbs(onHimDollarBalance)}}</td>
                    <td>{{numberWithCommasAndAbs(forHimDinarBalance)}}</td>
                    <td>{{numberWithCommasAndAbs(onHimDinarBalance)}}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>