<div class="page">
    <div class="flex flex-nowrap">
        <img src="/assets/img/printImages/hader.JPG" class="w-100" alt="Image Description" />
    </div>
    <div class="flex flex-nowrap justify-content-center mt-3" style="text-align: -webkit-center;">
        <table id="itemstable" style="width: 95%;" class="table rtl Item_Description borderless-table ml-5">
            <thead>
                <tr id="rowforcustomerdetails">
                    <!-- <th></th> -->
                    <th class="headerOverinfo">INVOICE TO TO</th>
                    <th class="headerOverinfo">INVOICE TO</th>
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td ></td> -->
                    <td style="color:black ; ">
                        {{saleInvoice.customer?.fullName}} : TO ❖
                        <br />
                        {{saleInvoice.customer?.address}} : ❖
                        <br />
                        <strong>{{saleInvoice.customer?.id}}</strong>: Customer ID ❖
                    </td>
                    <td style="color:black ; ">
                        <strong>{{saleInvoice.creationTime | format:'DD/MM/yyyy'}}</strong>: Over Date ❖
                        <br />
                        <strong>{{saleInvoice.id}}</strong>: Over Number ❖
                        <br />
                    </td>
                    <!-- <td ></td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex flex-nowrap justify-content-center mt-5" style="text-align: -webkit-center; padding-left: 18px;">
        <table id="itemsSalestable" style="width: 98%;" class="table rtl Item_Description borderless-table-items">
            <thead>
                <tr class="theaddesgin">
                    <th style="font-size:11px;color:white">Line Price</th>
                    <th style="font-size:11px;color:white">Unit Price</th>
                    <th style="font-size:11px;color:white">Unit</th>
                    <th style="font-size:11px;color:white">Quantity</th>
                    <th style="font-size:11px;color:white;" colspan="3">Item name</th>
                </tr>
            </thead>
            <tbody id="Itemslist">
                <tr *ngFor="let item of saleInvoiceItems; let i = index" [ngClass]=" i % 2 == 0 ? 'green-row' : 'red-row'">
                    <td style="text-align: center; font-weight: bold ; color:black ; ">
                        <strong>{{Calculate(item.totalQuantity,item.totalItemPrice)}}</strong>
                    </td>
                    <td style="text-align: center; font-weight: bold ; color:black ; ">
                        <strong>{{item.totalItemPrice}}</strong>
                    </td>
                    <td style="text-align: center; font-weight: bold; margin-top: 30px ; color:black ; ">
                        <strong *ngIf="item?.deliveryItem?.invoiceItem?.offerItem?.unitId != undefined">{{item?.deliveryItem?.invoiceItem?.offerItem?.unit?.name}}</strong>
                        <strong *ngIf="item?.deliveryItem?.invoiceItem?.offerItem?.sizeId != undefined">{{item?.deliveryItem?.invoiceItem?.offerItem?.size?.name}}</strong>
                    </td>
                    <td style="text-align: center; font-weight: bold ; color:black ; ">
                        <strong>{{item.totalQuantity}}</strong>
                    </td>
                    <td style="text-align: center; font-weight: bold ; color:black ; ">
                        <strong>{{item?.deliveryItem?.invoiceItem?.offerItem?.material?.name}}</strong>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="theaddesgin">

                    <th style="color:white ; text-align:right">
                        {{calculateTotalQuantity()}}
                    </th>
                    <th colspan="8" style="color:white ; text-align:left">
                        Item Qty
                    </th>
                </tr>
                <tr class="theaddesgin">

                    <th style="color:white ; text-align:right">
                        {{calculateTotalPrice()}}
                    </th>
                    <!-- <th *ngIf="saleInvoice. == 0" colspan="8" style="color:white ; text-align:left">
                        Total USD
                    </th>
                    <th *ngIf="saleInvoice.currency == 1" colspan="8" style="color:white ; text-align:left">
                        Total Dinar
                    </th> -->
                    <th colspan="8" style="color:white ; text-align:left">
                        Total Dinar
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="flex flex-nowrap justify-content-center mt-5" style="text-align: -webkit-center; padding-left: 40px;">
        <table id="itemstable" style="width: 95%;" class="table rtl Item_Description borderless-table">
            <thead>
                <tr>
                    <th style="font-size:20px;color:#1D6375 ;text-decoration: underline;">
                        Bank Transfer to Trade Bank of Iraq
                    </th>
                    <th style="font-size:20px;color:#1D6375 ;text-decoration: underline;"> Payment Info</th>
                </tr>
            </thead>
            <tbody>
                <tr id="rowforcustomerdetails">
                    <td style="text-align:left;color:black" class="data">
                        Bank Address : Iraq-Baghdad-609 AL-Mansour❖<br />
                        <span style="padding-left:20px">district , street 16, building 22</span><br />
                    </td>
                    <td style="text-align:left;color:black" class="data">
                        . Account Name : Ser AI Tatower Co ❖<br />
                        . <span style="padding-left:20px">For General Contractor & Equipment</span><br />
                        Swift Code : TRIQIQBAXXX ❖<br />
                        IBAN : IQ64 TRIQ 9940 0500 8056 001 ❖<br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex flex-nowrap justify-content-center mt-4" style="text-align: -webkit-center; padding-left: 40px;">
        <strong class="rtl" style="font-size:25px;color:#1D6375;text-decoration: underline;float:left;margin-left:3%">
            : Signature ▪
        </strong>
    </div>
    <div style="margin-top: 15%; text-align: center;">
        <p style="font-size:14px; font-weight: bold;">. Thank you for your interest</p>
        <p style="font-size:12px;  font-weight: bold;"><a style="color:blue"
                href="https://www.isnetworld.com/what-we-do"> · More
                Information</a> <a style="color:blue" href="https://www.isnetworld.com/en/contact-us"> ·
                Contact
                SAT</a></p>
        <div class="contact-info">
            <p style="font-size:12px"> Contact us: Phone: +964 783 8660 882 • Website: <a style="color:blue"
                    href="http://www.seraltatower.com">www.seraltatower.com</a> • Email: <a style="color:blue"
                    href="mailto:Finance@seraltatower.com">Finance@seraltatower.com</a></p>
        </div>
        <p style="font-size:10px">You acknowledge and agree that, notwithstanding the terms of any purchase
            order or
            other terms and conditions, Subject of this invoice is governed solely by the standard User
            Agreement
            for Ser Al Tatower’s Contractors.</p>
    </div>
    <div class="flex flex-nowrap">
        <img src="/assets/img/printImages/foter.JPG" class="w-100" alt="Image Description" />
    </div>
</div>