<form class="form-horizontal " autocomplete="off" #createInvoiceForm="ngForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-12 separator">
            <h1>{{'CreateNewInvoice' | localize}}</h1>
            <a class="btn btn-link btn-empty btn-lg" href="/app/orders/invoices">{{'BackToInvoiceList' | localize}} <i
                    class="simple-icon-arrow-right"></i></a>
            <div class="top-right-button-container text-zero">
                <button type="submit" class="top-right-button btn btn-primary  mb-3 mr-2"
                    (click)="save()">{{ 'Save' | localize}}</button>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title separator pb-2 mb-3">{{ 'InvoiceInfo' | localize }}</h5>
            <div class="row">
                <div class="col-md-4">
                    <label class=" has-float-label">
                        <ng-select [items]="offerType" bindLabel="name" bindValue="id" name="status"
                        (change)="onChangeOfferType($event)" [disabled]="true" [(ngModel)]="invoice.invoiceType">
                        </ng-select>
                        <span>{{ 'OfferType' | localize }} <span class="text-danger">*</span></span>
                    </label>
                    <span *ngIf="typeIsRequired" class="error invalid-feedback d-block"> ThisFieldIsRequired </span>
                </div>
                <div class="col-md-4" *ngIf="invoice.invoiceType == 1">
                    <label class=" has-float-label">
                        <ng-select [items]="offers" [disabled]="true" name="offerId" bindLabel="porchaseOrderId" bindValue="id"
                        [(ngModel)]="invoice.offerId" (change)="onChangeOffer($event)">
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <div class="d-flex justify-content-between px-1">
                                    <div>{{item.porchaseOrderId}}</div>
                                    <div class="badge badge-outline-secondary">{{item.customer.fullName}}</div>
                                </div>
                            </ng-template>
                        </ng-select>
                        <span>{{ 'PoNumber' | localize }} <span class="text-danger">*</span></span>
                    </label>
                    <span *ngIf="offerIsRequired" class="error invalid-feedback d-block"> ThisFieldIsRequired </span>
                </div>
                <div class="col-md-4" *ngIf="invoice.invoiceType == 0">
                    <label class=" has-float-label">
                        <ng-select [items]="supplierOffers" [disabled]="true" bindLabel="name" bindValue="id" name="supplierOfferId"
                         [(ngModel)]="invoice.supplierOfferId" (change)="onChangeSupplierOffer($event)">
                         <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                            <div class="d-flex justify-content-between px-1">
                                <div>{{item.porchaseOrderId}}</div>
                                <div class="badge badge-outline-secondary">{{item.supplier.fullName}}</div>
                            </div>
                        </ng-template>
                        </ng-select>
                        <span>{{ 'Offer' | localize }} <span class="text-danger">*</span></span>
                    </label>
                    <span *ngIf="supplierOfferIsRequired" class="error invalid-feedback d-block"> ThisFieldIsRequired </span>
                </div>
                <div class="col-md-4" *ngIf="invoice.invoiceType == 1">
                    <label class=" has-float-label">
                        <ng-select [items]="suppliers" [disabled]="true" name="supplierId" bindLabel="name" bindValue="id"
                        [(ngModel)]="invoice.supplierId" >
                        </ng-select>
                        <span>{{ 'Supplier' | localize }} <span class="text-danger">*</span></span>
                    </label>
                    <span *ngIf="offerIsRequired" class="error invalid-feedback d-block"> ThisFieldIsRequired </span>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="card mt-2" *ngIf="invoice.invoiseDetails?.length > 0">
    <div class="card-body">
        <h5 class="card-title separator pb-2 mb-3">{{ 'MaterialsInfo' | localize }}</h5>
        <div  class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{'Material' | localize}}</th>
                        <th>{{'Unit' | localize}}</th>
                        <th>{{'Quantity' | localize}}</th>
                        <th>{{'MaterialPrice' | localize}}</th>
                        <th>{{'TotalPrice' | localize}}</th>
                        <th>{{'QuantityInStore' | localize}}</th>
                        <th>{{'QuantityInOffer' | localize}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="invoice != undefined && selectedOffer?.offerItems?.length > 0 && invoice.invoiceType == 1" >
                        <tr *ngFor="let item of invoice.invoiseDetails; let index = index;trackBy:trackByIndex;">
                            <td>{{selectedOffer?.offerItems[index]?.material?.name}}</td>
                            <td>{{getUnitName(selectedOffer?.offerItems[index]?.materialId)}}</td>
                            <td>
                                <input type="number" [(ngModel)]="invoice.invoiseDetails[index].quantity" class="form-control" />
                            </td>
                            <td>
                                <input type="number" [(ngModel)]="invoice.invoiseDetails[index].totalMaterilPrice" class="form-control" />
                            </td>
                            <td>{{invoice.invoiseDetails[index].totalMaterilPrice * invoice.invoiseDetails[index].quantity | commaNumber}}</td>
                            <td>{{getStock(selectedOffer?.offerItems[index]?.material?.id)}} {{selectedOffer?.offerItems[index]?.unit?.name}}</td>
                            <td>{{selectedOffer?.offerItems[index]?.quantity | commaNumber}}</td>
                        </tr>
                    </ng-container>
                    <ng-container *ngIf="invoice != undefined && selectedSupplierOffer?.supplierOfferItems?.length > 0 && invoice.invoiceType == 0">
                        <tr *ngFor="let item of invoice.invoiseDetails; let index = index;trackBy:trackByIndex;">
                            <td>{{selectedSupplierOffer?.supplierOfferItems[index]?.material?.name}}</td>
                            <td>{{getUnitName(selectedSupplierOffer?.supplierOfferItems[index]?.materialId)}}</td>
                            <td>
                                <input type="number" [(ngModel)]="invoice.invoiseDetails[index].quantity" class="form-control" />
                            </td>
                            <td>
                                <input type="number" [(ngModel)]="invoice.invoiseDetails[index].totalMaterilPrice" class="form-control" />
                            </td>
                            <td>{{invoice.invoiseDetails[index].totalMaterilPrice * invoice.invoiseDetails[index].quantity | commaNumber}}</td>
                            <td>{{getStock(selectedSupplierOffer?.supplierOfferItems[index]?.material?.id)}} {{selectedSupplierOffer?.supplierOfferItems[index]?.unit?.name}}</td>
                            <td>{{selectedSupplierOffer?.supplierOfferItems[index]?.quantity | commaNumber}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>