<!DOCTYPE html>
<html>
<head>
    <title>A4 Paper Size</title>
</head>
<body>
    <div class="mediaprint">
        <img src="/assets/img/printImages/hader.JPG" class="invoiceheader" alt="Image Description" />
        <br />
        <table id="itemstable" class="table rtl Item_Description borderless-table ml-4">
            <thead>
                <tr id="rowforcustomerdetails">
                    <th class="headerOverinfo">OFFER TO</th>
                    <th class="headerOverinfo">OFFER</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4" class="data" style="color:black ; ">
                        {{offer.customer?.fullName}} : TO ❖
                        <br />
                        {{offer.customer?.address}} : ❖
                        <br />
                        <strong>{{offer.customer?.id}}</strong>: Customer ID ❖
                    </td>
                    <td style="color:black ; ">
                        <strong>{{offer.offerEndDate | format:'DD/MM/yyyy'}}</strong>: Over Date ❖
                        <br />
                        <strong>{{offer.id}}</strong>: Over Number ❖
                        <br />
                    </td>
                </tr>
            </tbody>
        </table>
        <table id="itemsSalestable" class="table rtl Item_Description borderless-table-items">
            <thead>
                <tr class="theaddesgin">
                    <th style="font-size:11px;color:white">Line Price</th>
                    <th style="font-size:11px;color:white">Unit Price</th>
                    <th style="font-size:11px;color:white">Unit</th>
                    <th style="font-size:11px;color:white">Quantity</th>
                    <th style="font-size:11px;color:white;" colspan="3">Item name</th>
                </tr>
            </thead>
            <tbody id="Itemslist">
                <tr *ngFor="let item of offerItems; let i = index" [ngClass]=" i % 2 == 0 ? 'green-row' : 'red-row'">
                    <td style="text-align: center; font-weight: bold ; color:black ; ">
                        <strong>{{Calculate(item.quantity,item.unitPrice)}}</strong>                        
                    </td>
                    <td style="text-align: center; font-weight: bold ; color:black ; ">
                        <strong>{{item.unitPrice}}</strong>
                    </td>
                    <td style="text-align: center; font-weight: bold; margin-top: 30px ; color:black ; ">
                        <strong *ngIf="item.unitId != undefined">{{item.unit?.name}}</strong>
                        <strong *ngIf="item.sizeId != undefined">{{item.size?.name}}</strong>
                    </td>
                    <td style="text-align: center; font-weight: bold ; color:black ; ">                        
                        <strong>{{item.quantity}}</strong>
                    </td>
                    <td style="text-align: center; font-weight: bold ; color:black ; ">
                        <strong>{{item.material?.name}}</strong>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="theaddesgin">
            
                    <th style="color:white ; text-align:right">
                        {{calculateTotalQuantity()}}
                    </th>
                    <th colspan="8" style="color:white ; text-align:left">
                        Item Qty
                    </th>
                </tr>
                <tr class="theaddesgin">
            
                    <th style="color:white ; text-align:right">
                        {{calculateTotalPrice()}}            
                    </th>
                    <th *ngIf="offer.currency == 0" colspan="8" style="color:white ; text-align:left">
                        Total USD
                    </th>
                    <th *ngIf="offer.currency == 1" colspan="8" style="color:white ; text-align:left">
                        Total Dinar
                    </th>
                </tr>
            </tfoot>
        </table>
        <div style="display: inline-block; width: 55%; margin-left: 3%; float:left">
            <table id="itemstable" class="table  Item_Description borderless-table">
                <thead>
                    <tr>
                        <th style="font-size:20px;color:#1D6375 ;text-decoration: underline;"> Payment Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="rowforcustomerdetails">
                        <td style="text-align:left;color:black" class="data">
                            . Account Name : Ser AI Tatower Co ❖<br />
                            . <span style="padding-left:20px">For General Contractor & Equipment</span><br />
                            Swift Code : TRIQIQBAXXX ❖<br />
                            IBAN : IQ64 TRIQ 9940 0500 8056 001 ❖<br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="display: inline-block; width: 55%; float:left;margin-left:3%">
            <table id="bankTransferTable" class="table  Item_Description borderless-table">
                <thead>
                    <tr>
                        <th style="font-size:20px;color:#1D6375 ;text-decoration: underline;">
                            Bank Transfer to Trade Bank of Iraq
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="rowforcustomerdetails">
                        <td style="text-align:left;color:black" class="data">
                            Bank Address : Iraq-Baghdad-609 AL-Mansour❖<br />
                            <span style="padding-left:20px">district , street 16, building 22</span><br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            <strong style="font-size:25px;color:#1D6375;text-decoration: underline;float:left;margin-left:3%">
                : Signature ▪
            </strong>
            <br />
            <br />
            <br />
            <br />
        </div>
        <div class="contact-info-container">
            <p style="font-size:14px">. Thank you for your interest</p>
            <p style="font-size:12px"><a style="color:black" href="https://www.isnetworld.com/what-we-do"> · More
                    Information</a> <a style="color:black" href="https://www.isnetworld.com/en/contact-us"> · Contact
                    SAT</a></p>
            <div class="contact-info">
                <p style="font-size:12px"> Contact us: Phone: +964 783 8660 882 • Website: <a
                        href="http://www.seraltatower.com">www.seraltatower.com</a> • Email: <a
                        href="mailto:Finance@seraltatower.com">Finance@seraltatower.com</a></p>
            </div>
            <p style="font-size:10px">You acknowledge and agree that, notwithstanding the terms of any purchase order or
                other terms and conditions, Subject of this invoice is governed solely by the standard User Agreement
                for Ser Al Tatower’s Contractors.</p>
        </div>
        <img style="  top: 85%;left: 54%;transform: translate(-50%, -50%);text-align: center;   position: absolute;"
            src="/assets/img/printImages/foter.JPG" class="invoiceheader" alt="Image footer" />
    </div>
</body>
</html>