<form class="form-horizontal " autocomplete="off" #createMaterialModal="ngForm">
  <div class="row">
    <div class="col-12 separator">
      <!-- <h1>{{'EditMaterial' | localize}}</h1> -->
      <a class="btn btn-link btn-empty btn-lg" href="/app/settings/material">{{'BackToMaterialList' | localize}} <i
          class="simple-icon-arrow-right"></i></a>
      <div class="top-right-button-container text-zero">

      </div>
    </div>
  </div>

  <!--Material-->
  <div class="card mt-2">
    <div class="d-flex justify-content-between">
    </div>
    <div class="card-body" *ngIf="material">
      <h5 class="card-title separator pb-2 mb-3">{{ 'MaterialInfo' | localize }}</h5>
      <div class="row">
        <div class="col-md-4">
          <label class="has-float-label">
            <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="material.name"
              #nameModel="ngModel" #nameEl />
            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            <span>{{ "Name"|localize }}</span>
          </label>
        </div>
        <div class="col-md-4">
          <label class=" has-float-label">
            <ng-select [items]="categories" name="category" bindLabel="name" required bindValue="id"
              [(ngModel)]="material.categoryId">
            </ng-select>
            <span>{{ 'Category' | localize }}</span>
          </label>
          <span *ngIf="categoryIsRequired" class="error invalid-feedback d-block"> ThisFieldIsRequired </span>
        </div>
        <div class="col-md-4">
          <label class=" has-float-label">
            <ng-select [items]="units" name="unit" bindLabel="name" required bindValue="id"
              [(ngModel)]="material.unitId">
            </ng-select>
            <span>{{ 'Unit' | localize }}</span>
          </label>
          <span *ngIf="unitIsRequired" class="error invalid-feedback d-block"> ThisFieldIsRequired </span>
        </div>
        <div class="col-md-4">
          <label class=" has-float-label">
            <textarea type="text" class="form-control" name="specification" id="specification"
              [(ngModel)]="material.specification" #specificationModel="ngModel" rows="3" #specificationEl>
               </textarea>
            <!-- <abp-validation-summary [control]="specificationModel" [controlEl]="specificationEl"></abp-validation-summary> -->
            <span>{{ "Specification"|localize }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <!--Stock-->
  <div class="card mt-2" *ngIf="material">
    <div class="d-flex justify-content-between">
    </div>
    <div class="card-body">
      <h5 class="card-title separator pb-2 mb-3">{{ 'Stock' | localize }}</h5>
      <div class="row">
        <div class=" col-12">
          <div class="table-responsive table-bordered">
            <table class="table" *ngIf="material?.stocks?.length > 0">
              <thead>
                <tr>
                  <th class="bi">{{'Store' | localize}}</th>
                  <th class="bi">{{'Unit' | localize}}</th>
                  <th class="bi">{{'Quantity' | localize}}</th>
                  <th class="bi">{{'PricePerTon' | localize}}</th>
                  <th class="bi">{{'ConversionValue' | localize}}</th>
                  <th class="bi">{{'TotalNumberInSmallUnit' | localize}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of material.stocks; let index = index;trackBy:trackByIndex;">
                  <td>{{getStoreName(material.stocks[index].storeId)}}</td>
                  <td>{{getSizeName(material.stocks[index].sizeId)}}</td>
                  <td>{{material.stocks[index].quantity}}</td>
                  <td>{{material.stocks[index].price}}</td>
                  <td>{{material.stocks[index].conversionValue}}</td>
                  <!-- <td>{{item.numberInSmallUnit}}</td> -->
                  <td>{{getNumberInSmallUnit(material.stocks[index]) | commaNumber}}
                    {{getSizeName(material.stocks[index].sizeId)}}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>