<abp-modal-header

  [title]="'MaterialDetails'|localize"

  (onCloseClick)="bsModalRef.hide()"
></abp-modal-header>
<div class="modal-body my-custom-scrollbar">
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">
      {{ "Name" | localize }}
    </label>
    <div class="col-md-9">
      <label class="form-control" name="name" id="name">
        {{ data.name }}
      </label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="category">
      {{ "Category" | localize }}
    </label>
    <div class="col-md-9">
      <label class="form-control" name="category" id="category">
        {{ category.name }}
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="specification">
      {{ "Specification" | localize }}
    </label>
    <div class="col-md-9">
      <label class="form-control" name="specification" id="specification">
        {{ data.specification }}
      </label>
    </div>
  </div>
</div>
