<!-- <app-page-header [title]="'CustomerCashFlow' | localize" [fields]="fields" (onChangePage)="onChangePage($event)"
    (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header> -->

<div class="row">
    <div class="col-12 separator">
        <h1>{{'CustomerCashFlow' | localize}}</h1>
        <a class="btn btn-link btn-empty btn-lg" href="/app/settings/customer">{{'BackToCustomerList' | localize}} <i
                class="simple-icon-arrow-right"></i></a>
            
    </div>
</div>


<app-page-grid [hasDetails]="false" [fields]="fields" [data]="cashFlows" [totalItems]="totalItems"
    [pageNumber]="pageNumber" [pageSize]="pageSize" (viewItem)="showViewModal($event)"
    (changeOrderBy)="changeOrderBy($event)" [actionList]="true" (changePage)="pageChanged($event)">
    <div class="row mb-3 pb-2 separator ">
        <div class="col-md-4 ">
            <h4>
                <small class="text-muted">{{'Name' | localize}} :</small>
                {{currentBalance.name}}
            </h4>
        </div>
        <div class="col-md-4 ">
            <h4>
                <small class="text-muted">{{'CurrentBalanceDollar' | localize}} :</small>
                {{getBalance(currentBalance.dollarBalance)}}
            </h4>
        </div>
        <div class="col-md-4">
            <h4>
                <small class="text-muted">{{'CurrentBalanceDinar' | localize}} :</small>
                {{getBalance(currentBalance.dinarBalance)}}
            </h4>

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <label class="has-float-label">
                <ng-select [items]="currencies" (change)="onChangeCurrency($event)" [clearable]="false" bindLabel="name" bindValue="id" name="currency"
                    [(ngModel)]="currency">
                </ng-select>
                <span>{{ 'Currency' | localize }}</span>
            </label>
        </div>
        <div class="col-md-3">
            <label class="has-float-label">
                <input class="form-control" bsDatepicker [container]="'html'"
                    [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY' }" name="fromDate" id="fromDate"
                    [(ngModel)]="fromDate" #fromDateModel="ngModel" #fromDateEl />
                <abp-validation-summary [control]="fromDateModel" [controlEl]="fromDateEl"></abp-validation-summary>
                <span>{{ "FromDate"|localize }}</span>
            </label>

        </div>
        <div class="col-md-3">
            <label class="has-float-label">
                <input class="form-control" bsDatepicker [container]="'html'"
                    [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY' }" name="toDate" id="toDate"
                    [(ngModel)]="toDate" #toDateModel="ngModel" #toDateEl />
                <abp-validation-summary [control]="toDateModel" [controlEl]="toDateEl"></abp-validation-summary>
                <span>{{ "ToDate"|localize }}</span>
            </label>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-outline-primary" [disabled]="false"
                (click)="list(undefined,0,undefined)">
                <i class="bi-search"> </i> {{ 'Search' | localize }}
            </button>
        </div>
    </div>
</app-page-grid>