<app-page-header [title]="'RejectedDeliveries' | localize" [fields]="fields"
    [CreatePermission]="'PurshaseOrder.RejectedDeliveries.Create333'" (advanceFilter)="showFilterDialog($event)"
    [filtering]="request.filtering && request.filtering.rules.length > 0" (onChangePage)="onChangePage($event)"
    (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)" [coloredBy]="'status'">
</app-page-header>


<app-page-grid [hasDetails]="false" [EditPermission]="'PurshaseOrder.RejectedDeliveries.Update333'"
    [DeletePermission]="'PurshaseOrder.RejectedDeliveries.Delete333'" [fields]="fields" [data]="returnedDeliveries"
    [totalItems]="totalItems" [pageNumber]="pageNumber" [pageSize]="pageSize" (viewItem)="showViewModal($event)"
    (changeOrderBy)="changeOrderBy($event)" [coloredBy]="'status'" (changePage)="pageChanged($event)"></app-page-grid>