<form class="form-horizontal " autocomplete="off" #createBrandModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewMaterial'|localize " (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body modal-xl">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "Name"|localize }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="material.name"
          #nameModel="ngModel" #nameEl />
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="category">
        {{ "Category"|localize }}
      </label>
      <div class="col-md-9">
        <select class="form-control" aria-label="category" #categoryModel="ngModel" required name="category"
          id="category" [(ngModel)]="material.categoryId" #categoryEl>
          <option *ngFor="let item of categories" [ngValue]="item.id">{{item.name}}</option>
          <abp-validation-summary [control]="categoryModel" [controlEl]="categoryEl"></abp-validation-summary>
        </select>
        <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="specification">
        {{ "Specification"|localize }}
      </label>
      <div class="col-md-9">
        <textarea type="text" class="form-control" name="specification" id="specification"
          [(ngModel)]="material.specification" #specificationModel="ngModel" #specificationEl>
              </textarea>
        <abp-validation-summary [control]="specificationModel" [controlEl]="specificationEl"></abp-validation-summary>
      </div>
    </div>
  </div>

  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createBrandModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>