<app-page-header [title]="'Deliveries' | localize"  [fields]="fields"
 [CreatePermission]="'PurshaseOrder.Deliveries.Create333'"
  (advanceFilter)="showFilterDialog($event)" 
  [filtering]="request.filtering && request.filtering.rules.length > 0" (onChangePage)="onChangePage($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header>


<app-page-grid [hasDetails]="false" [EditPermission]="'PurshaseOrder.Deliveries.Update333'" 
[DeletePermission]="'PurshaseOrder.Deliveries.Delete333'" [fields]="fields" [data]="deliveries" 
[totalItems]="totalItems" [pageNumber]="pageNumber" [pageSize]="pageSize" 
(viewItem)="showViewModal($event)"(changeOrderBy)="changeOrderBy($event)"
(editItem)="showEditModal($event)" (deleteItem)="deleteItem($event)" [coloredBy]="'status'"
(changePage)="pageChanged($event)" [menuItems]="menuItems" (onSelectMenuItem)="onSelectMenuItem($event)"></app-page-grid>