<div class="row">
    <div class="col-12 list">
        <div class="card mb-3" *ngFor="let invoice of invoices">
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex flex-grow-1 min-width-zero separator">
                  <div
                      class="card-body py-4 align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                      <a href="javascript:;" class="list-item-heading mb-0 truncate w-10 w-xs-100">
                          {{invoice?.supplierName}}</a>
                      <div><item-info title="Status" [value]="getStatus(invoice?.status)"></item-info></div>
                      <div><item-info title="Currency" [value]="getCurrency(invoice?.currency)"></item-info></div>
                      <div><item-info title="CreationTime" [value]="invoice.creationTime | format:'DD-MM-yyyy' "></item-info></div>
                      <div><item-info title="ApproveDate" [value]="invoice.approveDate | format:'DD-MM-yyyy' "></item-info></div>
                  </div>
              </div>
              <div class="">
                  <div class="table-responsive">
                      <table class="table table-bordered ">
                          <thead>
                              <tr>
                                  <th>{{'Material' | localize}}</th>
                                  <th>{{'EnteredQuantity' | localize}}</th>
                                  <th>{{'ReceivedQuantity' | localize}}</th>
                                  <th>{{'UnitPrice' | localize}}</th>
                                  <th>{{'TotalPrice' | localize}}</th>
                              </tr>
                          </thead>
                          <tbody>
                              <ng-container *ngFor="let invoiceItem of invoice.invoiseDetails; index as i">
                                  <tr >
                                      <td>{{invoiceItem?.offerItem?.material?.name}}</td>
                                      <td>{{invoiceItem?.quantity | commaNumber}}</td>
                                      <td>{{invoiceItem?.receivedQuantity | commaNumber}}</td>
                                      <td>{{invoiceItem?.totalMaterilPrice | commaNumber}}</td>
                                      <td>{{(invoiceItem?.receivedQuantity * invoiceItem?.totalMaterilPrice) | commaNumber}}</td>
                                  </tr>
                                  
                              </ng-container>
                          </tbody>
                      </table>
                  </div>
              </div>
              </div>
              <div class="col-md-12" *ngIf="receivings?.length > 0">
                <div class="separator"></div>
                <div class="mt-1 separator mb-2 w-full" *ngFor="let receive of getReceivingById(invoice.id); index as i">
                  <div class="card-body" style="padding: 1rem !important;">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="px-3 pt-3">
                          <p class="mb-2">
                            {{'ReceivingDate' | localize}} :
                            <ng-container *ngIf="receive.receivingDate">
                              <span class="badge badge-outline-pill badge-info">{{receive.receivingDate | format: 'DD-MM-yyyy'}}</span>
                            </ng-container>
                            <ng-container *ngIf="!receive.receivingDate">
                              <span class=" placeholder-glow"><span class="placeholder"></span></span>
                            </ng-container>
                          </p>
                          <p class="text-muted text-small">
                            {{'Description' | localize}} :
                            <ng-container *ngIf="receive.note">
                              <span [tooltip]="receive.note">{{receive.note | truncate:30}}</span>
                            </ng-container>
                            <ng-container *ngIf="!receive.note">
                              <span class=" placeholder-glow"><span class="placeholder"></span></span>
                            </ng-container>
                          </p>
                
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="d-flex">
                          <div class="mr-2">
                            <span class="transport-comp"></span>
                          </div>
                          <div class="px-3 pt-1">
                            <p class="list-item-heading mb-1">
                              {{'TransportCompany' | localize}} :
                              <ng-container *ngIf="receive?.transportCompany">
                                <span class="">{{receive.transportCompany?.name}}</span>
                              </ng-container>
                              <ng-container *ngIf="!receive?.transportCompany">
                                <span class=" placeholder-glow"><span class="placeholder"></span></span>
                              </ng-container>
                            </p>
                            <p class="text-muted text-small mb-1">
                              {{'TransportCost' | localize}} :
                              <ng-container *ngIf="receive?.transportCost > 0">
                                <span class="">{{receive.transportCost | commaNumber}} {{getCurrency(receive.transportCostCurrency) }}</span>
                              </ng-container>
                              <ng-container *ngIf="receive?.transportCost == 0">
                                <span class=" placeholder-glow"><span class="placeholder"></span></span>
                              </ng-container>
                            </p>
                            <p class="text-muted text-small">
                              {{'DriverName' | localize}} :
                              <ng-container *ngIf="receive?.driverName">
                                <span class="">{{receive?.driverName}}</span>
                              </ng-container>
                              <ng-container *ngIf="!receive?.driverName">
                                <span class=" placeholder-glow"><span class="placeholder"></span></span>
                              </ng-container>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="d-flex">
                          <div class="mr-2">
                            <span class="clearance-comp"></span>
                          </div>
                          <div class="px-3 pt-3">
                            <p class="list-item-heading mb-1 placeholder-glow">
                              {{'ClearanceCompany' | localize}} :
                              <ng-container *ngIf="receive?.clearanceCompany">
                                <span class="">{{receive.clearanceCompany?.name}}</span>
                              </ng-container>
                              <ng-container *ngIf="!receive?.clearanceCompany">
                                <span class=" placeholder-glow"><span class="placeholder"></span></span>
                              </ng-container>
                            </p>
                            <p class="text-muted text-small">
                              {{'ClearanceCost' | localize}} :
                              <ng-container *ngIf="receive?.clearanceCompany">
                                <span class="">{{receive.clearanceCost | commaNumber}} {{getCurrency(receive.clearanceCostCurrency)}}</span>
                              </ng-container>
                              <ng-container *ngIf="!receive?.clearanceCompany">
                                <span class=" placeholder-glow"><span class="placeholder"></span></span>
                              </ng-container>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-1">
                      </div>
                    </div>
                    <!--  -->
                    <div class="row">
                      <div class="col-md-6" *ngFor="let item of receive.receivingItems">
                        <div class="d-flex justify-content-start  p-2 m-3" style="border:1px dashed #2797a2;border-radius:6px;">
                          <!-- MaterialName -->
                          <div class="w-50">
                            <item-info [isRow]="true" title="Material" [value]="item?.materialName"></item-info>
                            <ng-container *ngIf="!item?.materialName">
                              <span class=" placeholder-glow"><span class="placeholder"></span></span>
                            </ng-container>
                          </div>
                          <!-- ReceivedQuantity -->
                          <div class="w-50">
                            <item-info [isRow]="true" title="ReceivedQuantity" [value]="item?.receivedQuantity"></item-info>
                          </div>
                
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


