<form class="form-horizontal " autocomplete="off" #updateOfferForm="ngForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-12 separator">
            <h1>{{'CompleteReceivingInfo' | localize}}</h1>
            <a class="btn btn-link btn-empty btn-lg" href="/app/orders/receives;invoiceId={{invoiceId}}">{{'BackToReceivingList' | localize}} <i
                    class="simple-icon-arrow-right"></i></a>
            <div class="top-right-button-container text-zero">
                <button type="submit" class="top-right-button btn btn-primary  mb-3 mr-2"
                    [disabled]="!updateOfferForm.form.valid || saving" (click)="save()">{{ 'Save' | localize}}</button>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title separator pb-2 mb-3">{{ 'TransportInfo' | localize }}</h5>
            <div class="row">
                <div class="col-md-3">
                    <label class=" has-float-label">
                        <ng-select required [items]="transportCompanies" required bindLabel="name" bindValue="id"
                            name="transportCompanyId" [(ngModel)]="input.transportCompanyId">
                        </ng-select>
                        <span>{{ 'TransportCompany'| localize }}</span>
                    </label>
                </div>
                
                <div class="col-md-3">
                    <label class="form-group has-float-label">
                        <input type="number" required class="form-control" name="transportCost"
                            [(ngModel)]="input.transportCost" #transportCostModel="ngModel" #transportCostEl />
                        <span>{{ 'TransportCost' | localize }}</span>
                    </label>
                    <abp-validation-summary [control]="transportCostModel" [controlEl]="transportCostEl">
                    </abp-validation-summary>
                </div>
                <div class="col-md-3">
                    <label class="form-group has-float-label">
                        <input type="text" required class="form-control" name="driverPhoneNumber"
                            [(ngModel)]="input.driverName" #driverNameModel="ngModel" #driverNameEl />
                        <span>{{ 'DriverName' | localize }}</span>
                    </label>
                    <abp-validation-summary [control]="driverNameModel" [controlEl]="driverNameEl">
                    </abp-validation-summary>
                </div>
                <div class="col-md-3">
                    <label class="form-group has-float-label">
                        <input type="text" required class="form-control" name="driverPhoneNumber"
                            [(ngModel)]="input.driverPhoneNumber" #driverPhoneNumberModel="ngModel" #driverPhoneNumberEl />
                        <span>{{ 'DriverPhoneNumber' | localize }}</span>
                    </label>
                    <abp-validation-summary [control]="driverPhoneNumberModel" [controlEl]="driverPhoneNumberEl">
                    </abp-validation-summary>
                </div>
                <div class="col-md-3">
                    <label class=" has-float-label">
                        <ng-select [items]="currencies" required bindLabel="name" bindValue="id" name="currency" [(ngModel)]="input.transportCostCurrency">
                        </ng-select>
                        <span>{{ 'TransportCostCurrency' | localize }}</span>
                    </label>
                </div>
                <div class="col-md-3">
                    <label class=" has-float-label">
                        <input class="form-control" required [(ngModel)]="date" name="creationTime"
                            bsDatepicker [container]="'html'"
                            [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY' }"
                            #creationTimeModel="ngModel" #creationTimeEl>
                        <span>{{ 'Date' | localize }}</span>
                    </label>
                    <abp-validation-summary [control]="creationTimeModel" [controlEl]="creationTimeEl">
                    </abp-validation-summary>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title separator pb-2 mb-3">{{ 'ClearanceInfo' | localize }}</h5>
            <div class="row">
                <div class="col-md-3">
                    <label class=" has-float-label">
                        <ng-select [items]="clearanceCompanies" required bindLabel="name" bindValue="id"
                            name="clearanceCompanyId" [(ngModel)]="input.clearanceCompanyId">
                        </ng-select>
                        <span>{{ 'ClearanceCompany'| localize }}</span>
                    </label>
                </div>
                
                <div class="col-md-3">
                    <label class="form-group has-float-label">
                        <input type="number" class="form-control" name="clearanceCost"
                            [(ngModel)]="input.clearanceCost" #clearanceCostModel="ngModel" #clearanceCostEl />
                        <span>{{ 'ClearanceCost' | localize }}</span>
                    </label>
                    <abp-validation-summary [control]="clearanceCostModel" [controlEl]="clearanceCostEl">
                    </abp-validation-summary>
                </div>
                
                
                <div class="col-md-3">
                    <label class=" has-float-label">
                        <ng-select [items]="currencies" bindLabel="name" bindValue="id" name="clearanceCostCurrency" [(ngModel)]="input.clearanceCostCurrency">
                        </ng-select>
                        <span>{{ 'ClearanceCostCurrency' | localize }}</span>
                    </label>
                </div>
                
            </div>
        </div>
    </div>
</form>
