<app-page-header [title]="'TransportCompanyVoucher' | localize" [fields]="fields" [CreatePermission]="'PurshaseOrder.TransportCompanyVouchers.Create'"
    (addNewItem)="showAddNewModal()" (advanceFilter)="showFilterDialog($event)"
    [filtering]="request.filtering && request.filtering.rules.length > 0" (onChangePage)="onChangePage($event)"
    (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header>


<app-page-grid [hasDetails]="false" [EditPermission]="'PurshaseOrder.TransportCompanyVouchers.Update'"
    [DeletePermission]="'PurshaseOrder.TransportCompanyVouchers.Delete'" [fields]="fields" [data]="transportCompanyVouchers" [totalItems]="totalItems"
    [pageNumber]="pageNumber" [pageSize]="pageSize" (viewItem)="showViewModal($event)"
    (changeOrderBy)="changeOrderBy($event)" (editItem)="showEditModal($event)" (deleteItem)="deleteItem($event)"
    (changePage)="pageChanged($event)"></app-page-grid>