<div class="card mt-2" *ngIf="this.items?.length > 0">
    <div class="card-body">
        <h5 class="card-title separator pb-2 mb-3">{{ 'InvoiceMaterials' | localize }}</h5>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{'PoNumber' | localize}}</th>
                        <th>{{'Material' | localize}}</th>
                        <th>{{'Unit' | localize}}</th>
                        <th>{{'OfferNumber' | localize}}</th>
                        <th>{{'Quantity' | localize}}</th>
                        <th>{{'TotalPrice' | localize}}</th>
                        <th>{{'NumberInSmallUnit' | localize}}</th>
                        <th>{{'DeliveredQuantity' | localize}}</th>
                        <th>{{'SaleType' | localize}}</th>
                        <th>{{'EnteredQuantity' | localize}}</th>
                        <th>{{'BatchNumber' | localize}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items; index as i">
                        <td>
                            <label class="custom-control custom-checkbox mb-0 d-inline-block">
                                <input type="checkbox" class="custom-control-input" (change)="onCheck($event,item.offerItemId,item.receivedQuantity)">
                                <span class="custom-control-label">&nbsp;</span>
                              </label>
                        </td>
                        <td>{{item.poNumber}}</td>
                        <td>{{item.materialName}}</td>
                        <td>{{item.addedBySmallUnit ? item.smallUnit : item.unit}}</td>
                        <td>{{item.offerId}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.totalPrice}}</td>
                        <td>{{item.numberInSmallUnit}}</td>
                        <td>{{item.deliveredQuantity}}</td>
                        <td>{{getSaleType(item.addedBySmallUnit)}}</td>
                        <td>
                            <input type="number" class="form-control" [disabled]="checkDisabled(item.offerItemId)" (input)="updateQuantity($event,item.offerItemId)" />
                        </td>
                        <td>
                            <input type="text"  [disabled]="checkDisabled(item.offerItemId)" class="form-control" (input)="updateBatchNumber($event,item.offerItemId)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>