<div class="row">
  <!-- start table mode -->
  <div class="col-md-12" *ngIf="displayMode==='table'">
    <div class="card">
      <div class="card-body pb-0">
        <!-- table start -->
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th class="bi" *ngFor="let field of fields" [sortable]="field.sortable ? field.name : ''"
                  (sort)="onSort($event)">{{field.label}}</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; index as i" (click)="getParentId(item.id)" [class]="'pointer pt-5  '+getClassForRow(item)" >
                <td >
                  <span id="anchorDropdownContainer">
                    <span dropdown container="#anchorDropdownContainer">
                      <a href id="basic-link" dropdownToggle (click)="(false)" aria-controls="basic-link-dropdown">
                        <i class="text-primary simple-icon-options-vertical"></i></a>
                      <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu"
                        aria-labelledby="basic-link">
                        <ng-conatiner>
                          <a *ngIf="isGranted(EditPermission)" id="button-basic" type="button" id="edit" (click)="onEditItem(item.id)"
                            class="btn btn-empty dropdown-item text-primary align-self-center">
                            <i class="text-primary simple-icon-pencil">
                            </i>&nbsp;&nbsp;
                            <span>{{'Edit'|localize}}</span>
                          </a>
                          <a *ngIf="isGranted(DeletePermission)" id="button-basic" type="button" id="delete"  (click)="onDeleteItem(item.id)"
                            class="btn btn-empty dropdown-item text-primary align-self-center">
                            <i class="text-primary simple-icon-trash"></i>
                            &nbsp;&nbsp;
                            <span>{{'Delete'|localize}}</span>
                          </a>
                        </ng-conatiner>
                        <a *ngIf="ViewButton" id="button-basic" type="button" id="view" (click)="onViewItem(item.id)"
                          class="btn btn-empty dropdown-item text-primary align-self-center">
                          <i class="text-primary simple-icon-eye "></i>
                          &nbsp;&nbsp;
                          <span>{{'View'|localize}}</span>
                        </a>
                        <a *ngIf="cashFlowButton" id="button-basic" type="button" id="view" (click)="viewCashFlow(item.id)"
                          class="btn btn-empty dropdown-item text-theme-1 align-self-center">
                          <i class="text-theme-1 simple-icon-eye"></i>
                          &nbsp;&nbsp;
                          <span>{{'CashFlow'|localize}}</span>
                        </a>
                        <a *ngIf="PrintButton" id="button-basic" type="button" id="view" (click)="viewPrint(item.id)"
                          class="btn btn-empty dropdown-item text-theme-1 align-self-center">
                          <i class="text-theme-1 simple-icon-printer"></i>
                          &nbsp;&nbsp;
                          <span>{{'Print'|localize}}</span>
                        </a>
                        
                      </ul>
                      <!-- <a *ngIf="hasDetails"
                      class="pointer" (click)="getParentId(item.id)"
                       data-bs-toggle="tooltip"
                       data-bs-placement="right" title="{{'Details'|localize}}">
                       <i class=" ml-4 text-primary  iconsminds-arrow-inside"></i>
                      </a> -->
                    </span>
                  </span>
                </td>
                <td *ngFor="let field of fields" [innerHtml]="getValue(item, field)"></td>
                <td style="max-width:10rem;">
                  <div class="d-flex flex-wrap justify-content-start" >
                      <ng-container *ngIf="menuItems?.length > 0">
                        <button *ngFor="let menuItem of menuItems" id="button-basic" type="button" id="view" (click)="selectMenuItem(item.id,menuItem.name)"
                        [class]="item.cssClass" class="btn btn-xs btn-outline-primary mx-1">
                        <i class="text-theme-1" [class]="menuItem.icon"></i>
                        &nbsp;&nbsp;
                        <span>{{menuItem.label | localize}}</span>
                      </button>
                      </ng-container>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- table end -->
        <!-- pagination start -->
        <div class="col-12" *ngIf="totalItems > pageSize">
          <!-- <div class="separator"></div> -->
          <pagination [totalItems]="totalItems" [itemsPerPage]="pageSize" [rotate]="true" [maxSize]="5"
            [(ngModel)]="pageNumber" (pageChanged)="pageChanged($event)" class="justify-content-center"
            [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
          </pagination>
        </div>
        <!-- pagination end -->
      </div>
    </div>
  </div>
  <!-- end table mode -->

</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
</ng-template>
