<form class="form-horizontal " autocomplete="off" #updateOfferForm="ngForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col-12 separator">
            <h1>{{'SendDelivery' | localize}}</h1>
            <a class="btn btn-link btn-empty btn-lg" href="/app/orders/deliverys">{{'BackToDeliveriesList' | localize}} <i
                    class="simple-icon-arrow-right"></i></a>
            <div class="top-right-button-container text-zero">
                <button type="submit" class="top-right-button btn btn-primary  mb-3 mr-2"
                    [disabled]="!updateOfferForm.form.valid || saving" (click)="save()">{{ 'SendDelivery' | localize}}</button>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title separator pb-2 mb-3">{{ 'InvoiceInfo' | localize }}</h5>
            <div class="row">
                <div class="col-md-2">
                    <item-info title="Customer" [value]="invoice.customerName" icon="bi bi-person"></item-info>
                </div>
                <div class="col-md-2">
                    <item-info title="PoNumber" [value]="invoice.poNumber" icon=""></item-info>
                </div>
                
                <div class="col-md-2">
                    <item-info title="InvoiceNumber" [value]="invoice.id" icon="bi bi-bookmark"></item-info>
                </div>
                <div class="col-md-2">
                    <item-info title="Currency" value="{{invoice.currency == 1 ? 'Dollar' : 'Dinar'}}"
                        icon="bi bi-cash-stack"></item-info>
                </div>
                <div class="col-md-2">
                    <item-info title="ApproveDate" *ngIf="invoice.approveDate"
                        value="{{invoice.approveDate.date() | date:'dd-MM-yyyy' }}" icon="bi bi-calendar"></item-info>
                </div>
                <div class="col-md-2">
                    <item-info title="Supplier" [value]="invoice.supplierName" icon="bi bi-person"></item-info>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title separator pb-2 mb-3">{{ 'InvoiceMaterials' | localize }}</h5>
            <div class="row">
                <div class="col-md-3">
                    <label class="form-group has-float-label">
                        <input type="text" required class="form-control" name="driverName"
                            [(ngModel)]="deliveryDto.driverName" #driverNameModel="ngModel" #driverNameEl />
                        <span>{{ 'DriverName' | localize }}</span>
                    </label>
                    <abp-validation-summary [control]="driverNameModel" [controlEl]="driverNameEl">
                    </abp-validation-summary>
                </div>
                <div class="col-md-3">
                    <label class="form-group has-float-label">
                        <input type="text" required class="form-control" name="driverPhoneNumber"
                            [(ngModel)]="deliveryDto.driverPhoneNumber" #driverPhoneNumberModel="ngModel" #driverPhoneNumberEl />
                        <span>{{ 'DriverPhoneNumber' | localize }}</span>
                    </label>
                    <abp-validation-summary [control]="driverPhoneNumberModel" [controlEl]="driverPhoneNumberEl">
                    </abp-validation-summary>
                </div>
                <div class="col-md-3">
                    <label class="form-group has-float-label">
                        <input type="text" required class="form-control" name="vehicleNumber"
                            [(ngModel)]="deliveryDto.vehicleNumber" #vehicleNumberModel="ngModel" #vehicleNumberEl />
                        <span>{{ 'VehicleNumber' | localize }}</span>
                    </label>
                    <abp-validation-summary [control]="vehicleNumberModel" [controlEl]="vehicleNumberEl">
                    </abp-validation-summary>
                </div>
                <div class="col-md-3">
                    <label class="form-group has-float-label">
                        <input type="number" required class="form-control" name="transportCost"
                            [(ngModel)]="deliveryDto.transportCost" #transportCostModel="ngModel" #transportCostEl />
                        <span>{{ 'TransportCost' | localize }}</span>
                    </label>
                    <abp-validation-summary [control]="transportCostModel" [controlEl]="transportCostEl">
                    </abp-validation-summary>
                </div>
                <div class="col-md-3">
                    <label class=" has-float-label">
                        <ng-select [items]="currencies" required bindLabel="name" bindValue="id" name="currency" [(ngModel)]="deliveryDto.transportCostCurrency">
                        </ng-select>
                        <span>{{ 'TransportCostCurrency' | localize }}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>
<send-delivery-item [invoiceId]="invoiceId" [(deliveryItems)]="deliveryDto.deliveryItems"></send-delivery-item>
<delivery-list [invoiceId]="invoiceId"></delivery-list>