<app-page-header [title]="'CustomerVoucher' | localize" [fields]="fields"
    [CreatePermission]="'PurshaseOrder.CustomerVouchers.Create'" (addNewItem)="showAddNewModal()"
    (advanceFilter)="showFilterDialog($event)" [filtering]="request.filtering && request.filtering.rules.length > 0"
    (onChangePage)="onChangePage($event)" (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header>


<app-page-grid [hasDetails]="false" [EditPermission]="'PurshaseOrder.CustomerVouchers.Update'"
    [DeletePermission]="'PurshaseOrder.CustomerVouchers.Delete'" [fields]="fields"
    [data]="customerVouchers" [totalItems]="totalItems" [pageNumber]="pageNumber" [pageSize]="pageSize"
    (viewItem)="showViewModal($event)" (changeOrderBy)="changeOrderBy($event)" (editItem)="showEditModal($event)"
    (deleteItem)="deleteItem($event)" (changePage)="pageChanged($event)"></app-page-grid>